/* VARIABLES */

:root {
  --background-color: #d4f6fc; /* light blue */
  --primary-color: #782323; /* dark red */
  --secondary-color: #e0b354; /* orange */
  --dark-grey: #2b2b2b; /* dark grey */

  --bold: 700;
}

body {
	background-color: var(--background-color);
	font-family: 'Karla', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.4;
}

h1 {
	font-size: 30px;
 	font-weight: var(--bold);
}

h2 {
 	font-size: 24px;
 	font-weight: var(--bold);
}

h3 {
  font-size: 18px;
  font-weight: var(--bold);
}