/* VARIABLES */

:root {
  --background-color: #f2f2f2; /* soft grey */
  --primary-color: #f2df6f; /* yellow */
  --secondary-color: #3363bd; /* royal blue */
  --dark-grey: #2b2b2b; /* dark grey */

  --bold: 700;
  --list-width: 350px;
  --list-width-small: 275px;
}



* {
	box-sizing: border-box;
}



/* 	>>><<<
	GENERAL ELEMENTS
	>>><<< */

body {
	background-color: var(--background-color);
	font-family: 'Karla', sans-serif;
	font-weight: 400;
	font-size: 30px;
	color: var(--dark-grey);
	line-height: 1.4;
}

h1 {
	font-size: 60px;
 	font-weight: var(--bold);
 	color: var(--primary-color);
}

h2 {
 	font-size: 45px;
 	font-weight: var(--bold);
 	color: var(--secondary-color);
}

h3 {
  font-size: 40px;
  font-weight: var(--bold);
}

main {
	margin-top: 100px;
}



.title {
	background-color: var(--secondary-color);
	margin: 15px auto;
	max-width: var(--list-width);
	border-radius: 50px;
	text-align: center;
}

.loading-message {
	position: fixed;
	bottom: 20px;
	right: 40px;
}

.hidden {
	display: none;
}

.pokemon-list {
	margin: 50px auto 0;
	max-width: var(--list-width);
	list-style: none;
}

.list-button {
	background-color: var(--primary-color);
	border: 5px outset #d6c560;
	margin: 10px 0;
	margin-left: -20px;
	padding: 10px;
	width: 100%;
	font-family: 'Karla', sans-serif;
	font-size: 30px;
	color: var(--dark-grey);
}

.list-button:hover, .list-button:focus {
	cursor: pointer;
	opacity: 0.85;
}

.list-button:active {
	border-style: inset;
}

#modal-container {
	display: none;
}

#modal-container.is-visible {
	position: fixed;
	padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  
  /* to show it above other content */
  z-index: 999; 
  
  /* to allow scrolling if the screen is not high enough*/
  overflow: auto; 
  
  /* this is used to center the modal */
  display: grid;
  text-align: center;
}

.modal {
	margin: auto;
	display: inline-block;
	box-sizing: border-box;
	background: var(--primary-color);
	border: 5px double #d6c560;
	padding: 15px;
	width: 100%;
	max-width: 600px;
	text-align: center;
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;
}

.modal h2 {
  margin-top: 0;
  margin-bottom: 20px;
  padding-left: 45px;
}

.modal p {
	margin-top: 0;
  margin-bottom: 10px;
  line-height: 1.6;
  color: var(--dark-grey);
}

.modal img {
	width: 200px;
	height: auto;
}



/*	>>><<<
	RESPONSIVE ELEMENTS
	>>><<< */
@media all and (max-width: 400px), all and (max-height: 550px) {
	body {
		font-size: 25px;
	}

	h1 {
		font-size: 50px;
	}

	.title {
		max-width: var(--list-width-small);
	}

	.loading-message {
		bottom: 12px;
		right: 20px;
	}

	.pokemon-list {
		max-width: var(--list-width-small);
	}

	.list-button {
		font-size: 25px;
	}

	@media all and (max-height: 550px) {
		.pokemon-list {
			margin-top: 0;
		}
	}

	@media all and (min-height: 400px) and (max-height: 550px) {
		main {
			margin-top: 50px;
		}
	}

	@media all and (max-height: 400px) {
		main {
			margin-top: 30px;
		}
	}
}