/* VARIABLES */

:root {
  --background-color: #242320; /* dark brown */
  --primary-color: #f2ebbf; /* light yellow */
  --secondary-color: #2e2822; /* rich brown */
  --dark-grey: #2b2b2b; /* dark grey */

  --bold: 700;
  --list-width-small: 275px;
}



* {
	box-sizing: border-box;
}



/* 	>>><<<
		GENERAL ELEMENTS
		>>><<< */

body {
	background-color: var(--background-color);
	font-family: 'EB Garamond', serif;
	font-weight: 400;
	font-size: 16px;
	color: var(--primary-color);
	line-height: 1.4;
}

h1 {
	font-family: 'Cinzel', serif;
	font-size: 60px;
 	font-weight: var(--bold);
 	color: var(--primary-color);
}

h2 {
 	font-family: 'Macondo', cursive;
 	font-size: 50px;
 	font-weight: var(--bold);
 	color: var(--secondary-color);
}

h3 {
  font-family: 'Macondo', cursive;
  font-size: 40px;
  font-weight: var(--bold);
  color: var(--secondary-color);
}

h4 {
	font-family: 'Macondo', cursive;
  font-size: 30px;
  font-weight: var(--bold);
  color: var(--secondary-color);
}

h5 {
	font-family: 'Cinzel', serif;
  font-size: 20px;
  font-weight: var(--bold);
  color: var(--secondary-color);
}

main {
	margin-top: 125px;
	margin-bottom: 50px;
}

a {
	color: #cf1f1f;
}



/*	>>><<<
		HEADER ELEMENTS
		>>><<< */

.page-header {
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: var(--background-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 14px;
}

.page-header_item {
	flex-grow: 0;
	max-height: 70px;
	white-space: nowrap;
}

#dnd-logo {
	flex-basis: 50px;
	height: auto;
}

.search-bar {
	height: 40px;
	margin-left: 140px;
	padding-top: 9px;
}

.search-bar_input {
	font-family: 'EB Garamond', serif;
	font-size: 16px;
	background-color: var(--background-color);
	border: 2px solid var(--primary-color);
	color: var(--primary-color);
	border-radius: 5px;
}

.search-bar_button {
	font-family: 'EB Garamond', serif;
	font-size: 16px;
	border: none;
	background-color: #a80808;
	color: var(--primary-color);
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.3) 0px -3px 5px 0px inset;
	box-sizing: border-box;
	height: 27px;
}

.search-bar_button:hover, .search-bar_button:focus {
	cursor: pointer;
}

.search-bar_button:active {
	box-shadow: rgba(0, 0, 0, 0.3) -3px 0px 5px 0px inset;
}

.page-header_item:last-child {
	text-align: right;
	flex-shrink: 1;
	max-width: 200px;
}

.navigation-list {
  list-style-type: none;
  margin-left: -40px;
}

.navigation-list li {
	position: relative;
	display: inline-block;
	margin-left: 15px;
}

.navigation-list li a {
	color: var(--primary-color)
}

.navigation-list__item {
  text-decoration: none;
  font-size: 20px;
}

/* Nav link animation */
.navigation-list__item::after {
	position: absolute;
	left: 0px;
	bottom: 0px;
  width: 100%;
  height: 2px;
  background: var(--primary-color);
  content: "";
  opacity: 0;
  transform: translateY(-6px);
  transition: all 0.2s;
}

.navigation-list__item--active::after {
	transform: translateY(0px);
  opacity: 1;
}

.navigation-list__item:hover::after, .navigation-list__item:focus::after {
	transform: translateY(0px);
	opacity: 1;
}

.navigation-list__item--active {
  font-weight: var(--bold)
}



/*	>>><<<
		MAIN ELEMENTS
		>>><<< */
.overlay {
	position: fixed;
	padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 999;
  display: grid;
  grid-template-columns: 1fr;

  opacity: 0.5;
  
  /* to allow scrolling if the screen is not high enough*/
  overflow: auto; 
}

.loading-overlay_message {
	max-width: 300px;
	margin: auto;
	box-sizing: border-box;
	font-family: 'Macondo', cursive;
	font-size: 100px;
	color: white;
}

.title {
	text-align: center;
}

.subtitle {
	color: var(--primary-color);
	text-align: center;
	font-size: 30px;
	margin-bottom: 60px;
}

.hidden {
	display: none;
}

.spells-grid {
	display: grid;
	grid-template-columns: 300px 300px 300px 300px;
	gap: 50px;
	margin: 20px;
	justify-content: space-evenly;
}

.list-item {
	background-color: var(--primary-color);
	padding: 30px;
	border-radius: 10px;
	border: 2px groove #b8b291;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	box-shadow: rgba(255, 255, 255, 0.4) 0px 20px 70px 2px;
	transition: all 0.2s;
}

.list-item:hover, .list-item:focus {
	box-shadow: rgba(255, 255, 255, 0.6) 0px 20px 70px 20px;
	cursor: pointer;
}

.list-item:active {
	border-style: ridge;
}

.spells-grid_item_title {
	margin: 0;
}



/*	>>><<<
		MODAL
		>>><<< */
#modal-container {
	display: none;
}

#modal-container.is-visible {
	position: fixed;
	padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  
  /* to show it above other content */
  z-index: 999; 
  
  /* to allow scrolling if the screen is not high enough*/
  overflow: auto; 
  
  /* this is used to center the modal */
  display: grid;
}

.modal {
	margin: auto;
	display: grid;
	box-sizing: border-box;
	background: var(--primary-color);
	border: 5px double #b8b291;
	padding: 20px;
	width: 100%;
	max-width: 800px;
	max-height: 100%;
	position: relative;
	border-radius: 10px;
}

.modal_title {
	text-align: center;
	margin-bottom: -10px;
}

.modal_subheading {
	text-align: center;
	margin-top: 0;
	margin-bottom: 30px;
}

.modal_info {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 6px;
	margin: 0;
}

.modal_info_item {
	text-align: center;
	border: 3px solid var(--secondary-color);
	border-radius: 3px;
	padding: 5px 5px 0;
}

.modal_info_item h5, .modal_info_item p {
	margin: 0;
}

.modal_info_item p {
	font-size: 18px;
}

.show-more-button {
	margin: 20px auto 0;
	width: 120px;
	border: 3px outset #ded8af;
	color: var(--secondary-color);
	font-family: 'EB Garamond', serif;
	background: var(--primary-color);
}

.show-more-button:hover, .show-more-button:focus {
	opacity: 0.8;
	cursor: pointer;
}

.show-more-button:active {
	border-style: inset;
}

.modal_description_wrapper h5 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.modal-close {
  position: absolute;
  top: 16px;
  right: 0px;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: #777;
  transform: translateX(-45%);
}

.modal-close:hover, .modal-close:focus {
	cursor: pointer;
}

.modal h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

.modal p {
	margin-top: 0;
	margin-bottom: 10px;
  line-height: 1.6;
  color: var(--dark-grey);
}



/*	>>><<<
		ABOUT PAGE ELEMENTS
		>>><<< */
.about-text-wrapper {
	margin: 0 auto;
	max-width: 960px;
}

.about-text {
	margin: 0 30px;
	font-size: 20px;
}

.about-subheading {
	text-align: center;
	color: var(--primary-color);
}



/*	>>><<<
	RESPONSIVE ELEMENTS
	>>><<< */

@media all and (max-width: 1400px) {
	.spells-grid {
		grid-template-columns: 300px 300px 300px;
	}
}

@media all and (max-width: 1150px) {
	h1 {
		font-size: 45px;
	}

	h3 {
		font-size: 30px;
	}

	.subtitle {
		font-size: 24px;
	}
}

@media all and (max-width: 1024px) {
	.spells-grid {
		grid-template-columns: 250px 250px 250px;
	}
}

@media all and (max-width: 900px) {
	.spells-grid {
		grid-template-columns: 300px 300px;
	}
}

@media all and (max-width: 768px) {
	h1 {
		font-size: 40px;
	}

	.search-bar {
		margin-left: 0px;
	}

	.subtitle {
		font-size: 18px;
		margin-bottom: 40px;
	}

	.spells-grid {
		grid-template-columns: 300px;
		grid-gap: 20px;
	}

	.about-subheading {
		font-size: 40px;
	}
}

@media all and (max-width: 566px) {
	h1 {
		font-size: 30px
	}

	h2 {
		font-size: 40px;
	}

	h3 {
		font-size: 24px;
	}

	h4 {
		font-size: 24px;
	}

	h5 {
		font-size: 14px;
	}

	main {
		margin-top: 214px;
	}

	.about-main {
		margin-top: 170px;
	}

	.page-header {
		flex-direction: column;
		justify-content: center;
		border-bottom: 1px solid var(--primary-color);
	}

	.search-bar {
		margin-top: 3px;
		margin-bottom: -3px;
		order: 3;
	}

	.page-header_item:last-child {
		margin-left: -20px;
		margin-bottom: -10px;
	}

	.navigation-list__item {
	  font-size: 18px;
	}

	.loading-overlay_message {
		font-size: 60px;
	}

	.spells-grid {
		grid-gap: 30px;
	}

	.list-item {
		padding: 8px;
	}

	.modal_info_item p {
		font-size: 16px;
	}

	.about-subheading {
		font-size: 30px;
	}
}

@media all and (max-width: 460px) {
	.modal_info {
		grid-template-columns: 1fr 1fr;
	}

	.about-text {
		font-size: 16px;
	}
}

@media all and (max-width: 375px) {
	h2 {
		font-size: 32px;
	}

	h3 {
		font-size: 20px;
	}

	h4 {
		font-size: 22px;
	}

	.loading-overlay_message {
		font-size: 40px;
	}

	.spells-grid {
		grid-template-columns: 200px;
	}

	.about-text {
		margin: 0 20px;
	}
}